<div class="chart-container">
    <canvas  id="MySecondChart" >{{ secondChart }}</canvas>
    <div>
        <p class="text-OFC-font-light fs-5 p-0 m-0 d-flex align-items-center"><mat-icon class="fs-12 text-OFC-red pt-2">radio_button_checked</mat-icon> Electronics </p>
        <p class="text-OFC-font-light fs-5 p-0 m-0"><mat-icon class="fs-12 text-Blue pt-2">radio_button_checked</mat-icon> Laptops </p>
        <p class="text-OFC-font-light fs-5 p-0 m-0"><mat-icon class="fs-12 text-OFC-Green pt-2">radio_button_checked</mat-icon> iPhones </p>
    </div>
</div>
